#crecimiento{
	    line-height: 28px;
    outline: 0;
    height: 28px;
}
#buscar{
	margin-left: 20px;
}
.input-group-addon {
	font-size: 12px;
}
.form-control{
	font-size: 12px;
}
.titulo{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.mostrarDatosExcel{
    background: #f4f4f4;
    padding: 10px 10px;
}
#miContenedor{
    background: #fff;
    padding: 15px 20px 5px 20px;
    border: 1px solid #76c1b7;
}


