.jexcel_content {
	/*box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);*/
}
.jexcel > tbody > tr > td:first-child, .jexcel > thead > tr > td {
    background: #eeeeee;
}
.jexcel {

}
.jexcel > thead > tr > td {
  background: #D9E1F2;
}
.jexcel > tbody > tr > td:first-child{
  background: #E8E8E8;
}
.jexcel > thead > tr > td {
	color:#000;
	font-size: 12px
}
.jexcel > thead > tr > td.selected,
.jexcel > tbody > tr.selected > td:first-child{
  background: #D6D6D6;
  border-bottom: 1px solid #42A642;
}

.jexcel > tbody > tr > td {
	font-size: 11px;
	color:#1b1b1b;
}
.jexcel {
	 white-space: normal;
}
.jexcel_container {
	width: 100%;
}
.jexcel_filter {
	    width: 100%;
}
.jexcel_pagination > div > div {
	border-radius: 5%;
	border:0px;	
  width: 32px;
  height: 32px;
}
.jexcel_pagination {
	width: 100%;
	background: #FFF;
  padding-right: 1%;
}

.jexcel_page_selected {
    color: #fff;
    background-color: #76c1b7;
}
.jexcel_page {
    font-size: 1em; 
}
.jexcel thead .jexcel_freezed {
	background: #31708f;
    color: #fff;
}
.jexcel tbody .jexcel_freezed {
	background: #FFF;
}

td[data-x="24"].readonly,
td[data-x="25"].readonly,
td[data-x="26"].readonly,
td[data-x="27"].readonly {
    background-color: #e9fee0 !important;
}


.jexcel tbody .jexcel_freezed tr:nth-child(even) {
  /*background-color: rgb(237, 243, 255);*/
}

.jexcel tr:nth-child(even) {
    background-color: #FFFFFF;
}


.jexcel > tbody > tr > td.readonly {
    color: #333;
}

.loader {
  border: 16px solid #31708f;
  border-radius: 50%;
  border-top: 16px solid #d9fffb;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
   display: flex;
  justify-content: center;
  margin-left: 45%;
  margin-top: 10%;
  margin-bottom: 10%;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}